<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Chat</title>
</head>
<body>

    <h1>Create New Chat </h1>
     <form action="/chats" method="POST">
    <input name="from" placeholder="who are u?"><br><br>
    <textarea name="msg" placeholder="Enter your message here"></textarea><br><br>
    <input name="to" placeholder="add receiver"><br><br>
    <button>Save Message</button>
    </form>
    
</body>
</html>