<% layout('layouts/boilerplate') -%>
<body>
    <h1>All Listings</h1>
    <!-- <form action="listings/new"  method="GET">
      <button>Create New Listing</button>
    </form> -->
   <ul>
   <% for(let list of allListings) {%>
    <li>
    <a href="/listings/<%=list._id %>"> <%=list.title%> </a>
    </li>
  <% } %>

  </ul>
    
</body>

   